{% load static %}
{% block content %}
<ul>
    <li class=" ">
        <a href="#product" class="collapsed" data-toggle="collapse" aria-expanded="false">
            <svg class="svg-icon" id="p-dash2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <circle cx="9" cy="21" r="1"></circle>
                <circle cx="20" cy="21" r="1"></circle>
                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
            </svg>
            <span class="ml-4">Products</span>
            <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <polyline points="10 15 15 20 20 15"></polyline>
                <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
            </svg>
        </a>
        <ul id="product" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
            <li class="">
                <a href="{% url 'admin_view_all_products' %}">
                    <img src="{% static 'assets/images/product/minus.png' %}" height="10" width="10"><span
                        class="sidebarMenu" style="margin:0 0 0 10px;">List Product</span>
                </a>
            </li>
        </ul>
    </li>
    <li class=" ">
        <a href="#shop" class="collapsed" data-toggle="collapse" aria-expanded="false">
            <svg class="svg-icon" id="p-dash2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <circle cx="9" cy="21" r="1"></circle>
                <circle cx="20" cy="21" r="1"></circle>
                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
            </svg>
            <span class="ml-4">Shops</span>
            <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <polyline points="10 15 15 20 20 15"></polyline>
                <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
            </svg>
        </a>
        <ul id="shop" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
            <li class="">
                <a href="{% url 'admin_view_all_shops' %}">
                    <img src="{% static 'assets/images/product/minus.png' %}" height="10" width="10"><span
                        class="sidebarMenu" style="margin:0 0 0 10px;">List Shop</span>
                </a>
            </li>
        </ul>
    </li>
    <li class=" ">
        <a href="#customer" class="collapsed" data-toggle="collapse" aria-expanded="false">
            <img src="{% static 'assets/images/user.png' %}" class="img-fluid" alt="image" width="20">
            <span class="ml-4">Customers</span>
            <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <polyline points="10 15 15 20 20 15"></polyline>
                <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
            </svg>
        </a>
        <ul id="customer" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
            <li class="">
                <a href="{% url 'admin_view_all_customers' %}">
                    <img src="{% static 'assets/images/product/minus.png' %}" height="10" width="10"><span
                        class="sidebarMenu" style="margin:0 0 0 10px;">Customers List</span>
                </a>
            </li>
        </ul>
    </li>
    <li class=" ">
        <a href="#retailer" class="collapsed" data-toggle="collapse" aria-expanded="false">
            <img src="{% static 'assets/images/user.png' %}" class="img-fluid" alt="image" width="20">
            <span class="ml-4">Retailers</span>
            <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <polyline points="10 15 15 20 20 15"></polyline>
                <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
            </svg>
        </a>
        <ul id="retailer" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
            <li class="">
                <a href="{% url 'view-all-retailers' %}">
                    <img src="{% static 'assets/images/product/minus.png' %}" height="10" width="10"><span
                        class="sidebarMenu" style="margin:0 0 0 10px;">Retailers List</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
{% endblock content %}